app-hamburger-nav {
    position: fixed;
    z-index: 10;
    top: var(--navbar-height);
    background-color: var(--nav);
    left: 100vw;
    width: 300px;
    height: calc(100vh - var(--navbar-height));
}

#hamburger-nav {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#hamburger-nav > a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin: 5px;
}

#body-shift-entry {
    animation: body-shift-entry 400ms forwards ease-in-out;
}

#body-shift-exit {
    animation: body-shift-exit 200ms ease-in-out;
}

@keyframes body-shift-entry {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-300px);
    }
}


@keyframes body-shift-exit {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
    }
}