:root {
    /* CSS HEX */
--primary: #ff7b00ff;
--primary_light: #ffb570ff;
--secondary: rgb(138, 207, 81);
--secondary_light: #c9e6b3;
--bg_light: #ffe9d6ff;
--bg_dark: rgb(45, 43, 41);
--nav: #1c2826ff;

--bg: rgb(45, 43, 41);
--text: #ffe9d6ff;
}