/* #hero-section {
    background-image: url(/images/hero-section.jpg);
    background-position: center;
    background-size: cover;
    height: 100dvh;
    width: 100vw;
    z-index:-1;
} */

:root {
    --hero-section-bg-bn: 0.15;
    --hero-section-bn: 2;
    --hero-section-ds: 40px;
    --hero-section-sepia: 0.5;
}

#hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/index/hero-section.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: brightness(var(--hero-section-bg-bn));
}

header > h1 {
    background-image: url(/images/index/hero-section.jpg);
    background-position: center;
    background-size: cover;
    height: 100dvh;
    filter: unset;
    font-size: 10vw;
    width: 100vw;
    padding-top: 30vh;
    text-align: center;
    filter: brightness(var(--hero-section-bn))
        drop-shadow(0px 0px var(--hero-section-ds) var(--bg_light))
        sepia(var(--hero-section-sepia));
    box-shadow: 5px white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



article {
    color: var(--text);
    background-color: var(--bg);
}

#title > img {
    object-fit: cover;
    object-position: bottom;
}

#title > h1 {
    background-image: url(/images/homepage_title.jpg);
    background-position: bottom;
}

main {
    background-image: url(/images/index/bg-static.jpg);
}

#description-text {
    font-size: 1.7em;
    padding: 20px 10vw;
}

#bg-static-gap {
    height: 500px;
    background-color: transparent;
}
