:root {
	--backgroundColorAlpha: 0.6;
	--backgroundYPosition: 0px;
}

blockquote {
    margin: 8px 16px;
    font-style: italic;
    font-size: 0.9rem;
}

#background {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(--bg);
	background: var(--bg_gradient);
	opacity: 0.2;
	backdrop-filter: blur(5px);
	background-color: black;
}

#about-me {
	padding: 40px;

	span {
		background-color: var(--primary);
		border-radius: 8px;
		padding: 0 4px;
		line-break: strict;
	}
}

#project-container {
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
