.project-container {
    max-width: 350px;
    width: 80%;
    height: auto;
    box-shadow: 0px 0px 10px 5px var(--primary);
    margin: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 20px;
}

.project-title {
    font-size: 2rem;
    text-align: center;
}

.project-img {
    width: 80%;
    height: auto;
}

.project-container > .prog-lang-container {
    margin-bottom: 16px;
    margin-top: 16px;
}

.project-button-container {
    display: flex;
}

@media screen and (max-width: 1023px) {
    .project-img {
        display: none;
    }
}