#wyg {
	.wyg-icon {
		transition: transform 500ms;
		width: 20%;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(20%, 20%) rotate(-10deg) scale(1);
		filter: invert(1);
	}

	.tiled-container .glossy-tile {
		width: 47%;
		padding: 16px;

		&:hover .wyg-icon {
			transition: transform 500ms;
			transform: rotate(0deg) scale(1.3) translate(13%, 13%);

            filter: invert(80%) sepia(36%) saturate(704%) hue-rotate(41deg) brightness(90%) contrast(87%);
                

		}

		h3 {
			margin: 16px 0px 8px 0px;
		}

		ul {
			margin-bottom: 8px;
		}

        .button {
            max-width: 200px;
        }
	}
}