:root {
	/* CSS HEX */
	--primary: #ff7b00ff;
	--primary-dark: #ff7b00ff;
	--primary-light: rgb(255, 152, 56);

	--secondary: #8acf51;
	--secondary-dark: rgb(138, 207, 81);
	--secondary-light: #b3f084;

	--nav: linear-gradient(
		to right,
		rgb(37, 30, 24),
		rgb(26, 25, 23),
		rgb(19, 32, 19),
		rgb(19, 32, 19),
		rgb(26, 25, 23)
	);

	--nav-light: linear-gradient(
		to right,
		rgb(180, 148, 100),
		rgb(184, 176, 164),
		rgb(151, 177, 151),
		rgb(151, 177, 151),
		rgb(184, 176, 164)
	);
	--nav-dark: linear-gradient(
		to right,
		rgb(37, 30, 24),
		rgb(26, 25, 23),
		rgb(19, 32, 19),
		rgb(19, 32, 19),
		rgb(26, 25, 23)
	);

	--gradient: linear-gradient(
		70deg,
		rgba(37, 30, 24, 0.4),
		rgba(26, 25, 23, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(26, 25, 23, 0.4)
	);

	--gradient-light: linear-gradient(
		70deg,
		rgba(253, 215, 157, 0.4),
		rgba(248, 241, 231, 0.4),
		rgba(243, 235, 224, 0.4),
		rgba(197, 245, 197, 0.4),
		rgba(255, 244, 227, 0.4)
	);

	--gradient-dark: linear-gradient(
		70deg,
		rgba(37, 30, 24, 0.4),
		rgba(26, 25, 23, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(26, 25, 23, 0.4)
	);

	--card: rgb(33, 36, 38);
	--card-dark: rgb(33, 36, 38);
	--card-light: #c9e6b3;

	--bg: #181a1b;
	--bg-light: rgb(247, 238, 230);
	--bg-dark: rgb(24, 26, 27);

	--box-shadow: #696867;
	--box-shadow-light: #c9e6b3;
	--box-shadow-dark: rgb(35, 52, 44);

	--text: #ffe9d6ff;
	--text-light: #000000;
	--text-dark: #ffe9d6ff;
}
