[data-theme='dark'] {
	--primary: #ff7b00ff;
	--secondary: #8acf51;
	--nav: linear-gradient(
		to right,
		rgb(37, 30, 24),
		rgb(26, 25, 23),
		rgb(19, 32, 19),
		rgb(19, 32, 19),
		rgb(26, 25, 23)
	);
	--gradient: linear-gradient(
		70deg,
		rgba(37, 30, 24, 0.4),
		rgba(26, 25, 23, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(26, 25, 23, 0.4)
	);
	--card: rgb(33, 36, 38);
	--bg: rgb(24, 26, 27);
	--box-shadow: rgb(35, 52, 44);
	--text: #ffe9d6ff;
	--text-placeholder: rgb(184, 180, 180);
}

[data-theme='light'] {
	--primary: rgb(255, 152, 56);
	--secondary: #b3f084;
	--nav: linear-gradient(
		to right,
		rgb(180, 148, 100),
		rgb(184, 176, 164),
		rgb(151, 177, 151),
		rgb(151, 177, 151),
		rgb(184, 176, 164)
	);
	--gradient: linear-gradient(
		70deg,
		rgba(253, 215, 157, 0.4),
		rgba(248, 241, 231, 0.4),
		rgba(243, 235, 224, 0.4),
		rgba(197, 245, 197, 0.4),
		rgba(255, 244, 227, 0.4)
	);
	--card: #c9e6b3;
	--bg: rgb(247, 238, 230);
	--box-shadow: #c9e6b3;
	--text: #000000;
	--text-placeholder: #696867;
}