:root {
	--primary: #ff7b00ff;
	--secondary: #8acf51;
	--nav: linear-gradient(
		to right,
		rgb(37, 30, 24),
		rgb(26, 25, 23),
		rgb(19, 32, 19),
		rgb(19, 32, 19),
		rgb(26, 25, 23)
	);
	--gradient: linear-gradient(
		70deg,
		rgba(37, 30, 24, 0.4),
		rgba(26, 25, 23, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(19, 32, 19, 0.4),
		rgba(26, 25, 23, 0.4)
	);
	--card: rgb(33, 36, 38);
	--bg: rgb(24, 26, 27);
	--bg-alt: rgb(33, 36, 38);
	--box-shadow: rgb(35, 52, 44);
	--text: #ffe9d6ff;
	--text-placeholder: rgb(184, 180, 180);
}

